<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Forum</title>
</head>
<body>

<section layout:fragment="jumbotron" class="bg-gray">
    <div class="container">
        <div class="jumbotron py-5">
            <h1 class="display-4 brand-font">Forum</h1>
            <p class="lead">Explore the research hubs community discussion board.</p>
        </div>
    </div>
</section>

<section layout:fragment="content">
    <div class="row my-3">
        <div class="col-md-4 my-2" th:each="c: ${categories}">
            <div class="card highlight-card h-100">
                <h5 class="card-header" th:text="${c.getTitle()}"></h5>
                <div class="card-body d-flex flex-column">
                    <p class="card-text mb-5" th:text="${c.getBody()}"></p>
                    <a th:href="@{/forum/} + ${c.getId()}" class="btn btn-primary mt-auto">View threads</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>