<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Change Password</title>
</head>
<body>
<section layout:fragment="content">

    <h2 class="display-5 my-3">Change password</h2>
    <div th:if="${assert_failed==true}">
        <p class="text-danger">Passwords do not match</p>
    </div>
    <form th:action="@{/password/change-password}" method="post"
          oninput='password2.setCustomValidity(password1.value != password2.value ? "Passwords do not match." : "")'>
        <div class="mb-3">
            <input type="hidden" name="payload" th:value="${payload}">
            <label  class="form-label">Enter new password</label>
            <input required placeholder="password" type="password" id="password1" name="password1" class="form-control" aria-describedby="email reset">
            <br>
            <label  class="form-label">Confirm new password</label>
            <input required placeholder="password" type="password" id="password2" name="password2" class="form-control" aria-describedby="email reset">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</section>
</body>
</html>