<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Sucessful Password Reset</title>
</head>
<body>
<section layout:fragment="jumbotron" class="bg-gray">
    <div class="container">
        <div class="jumbotron py-5">
            <p class="display-4 brand-font">Success</p>
            <p class="lead">Your password has been successfully changed.</p>
        </div>
    </div>
</section>

<section layout:fragment="content">
    <div class="mt-3">
        <a th:href="@{/login}">Login</a>
    </div>
</section>

</body>
</html>