<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Password Reset</title>
</head>
<body>
<section layout:fragment="content">

    <p class="display-5 my-3">Password reset</p>

    <form th:action="@{/password/reset}" method="post">
        <div class="mb-3">
            <label  class="form-label">Email address</label>
            <input required placeholder="name@example.com" type="email" id="email" name="email" class="form-control" aria-describedby="email reset">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</section>
</body>
</html>