<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Account Deletion</title>
</head>


<body>
<form class="pt-2" th:action="@{/account-settings}" method="post">
    <!-- Provides visual weight & declares main button -->
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-account-popup">Delete Account</button>

    <div class="modal fade" id="delete-account-popup" tabindex="-1" aria-labelledby="delete-account-popup" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your account?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="deleteSubmit">Delete account</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>